/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* Eric Mayers's Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Eric Mayer's reset Ends here */

body {
      color: #000;
      line-height: 1.5em;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-size: 2em;
    font-weight: 500;
}
h2 {
    font-size: 1.5em;
}
h1, h2, p, li {
    color: rgb(133, 130, 130);
}

.wrapper {
       border: 1px solid rgb(194, 190, 190);
       border-radius: 5px;
       margin-left: auto;
       margin-right: auto;
       margin-top: 2em;
       margin-bottom: 2em;
       box-shadow: 5px 10px rgb(48, 26, 26);
       width: 80%;
}
header {
    background: rgb(221, 216, 216);
    text-align: center;
    padding: 2rem;
}
.banner {
     line-height: 1.5; 
     margin-top: 1rem;
     margin-bottom: 2rem;
}
#search-books {
    width: 100%;
    height: 3em;
}
#search-books input {
    width: 50%;
    height: 90%;
    border: 1px solid rgb(194, 190, 190);
    font-size: 1rem;
}
#book-list {
    padding: 2em;
}
ul {
    margin: 1rem;
}
li {
    height: 20%;
    margin-bottom: 2em;
    border-left: 4px solid rgb(194, 190, 190);
    padding: 1em;
}
li:hover {
    border-left: 4px solid rgba(240, 14, 89, 0.959);
}
 li button {
    padding: 1em 1.5em;
    display: flex;
    float: right;
    background: rgba(240, 14, 89, 0.959);
    border-top: 2px solid rgb(194, 190, 190);
    border-left: none;
    border-right: none;
    box-shadow: 1px 2px rgb(194, 190, 190);
    border-radius: 0px 5px 4px 0px;
}
li button:hover {
    background: rgb(73, 73, 73);
    transform: translateX(2px);
}
li button a {
    text-decoration: none;
    color: #fff;
}
.add-book {
    text-align: center;
    margin-bottom: 5em;
}
#add-book {
    width: 100%;
    height: 3em;
}
#add-book input {
    width: 50%;
    height: 90%;
    border: 1px solid rgb(194, 190, 190);
    font-size: 1rem;
}
#add-book button {
    padding: 1em 1.5em;
    background: rgba(240, 14, 89, 0.959);
    border-top: 2px solid rgb(194, 190, 190);
    border-left: none;
    border-right: none;
    box-shadow: 1px 2px rgb(194, 190, 190);
    border-radius: 0px 5px 4px 0px;
    font-size: .9em;
}
button:hover {
    background: rgb(73, 73, 73);
    transform: translateX(2px);
}
button a {
    text-decoration: none;
    color: #fff;
}